<div class="account-tiles">
  <a routerLink="/profile" class="tile">
    <div class="tile-header">
      <h3>My Profile</h3>
      <i class="fas fa-user tile-icon"></i>
    </div>
  </a>

  <a routerLink="/cart" class="tile">
    <div class="tile-header">
      <h3>My Cart</h3>
      <i class="fas fa-shopping-cart tile-icon"></i>
    </div>
  </a>

  <a routerLink="/profile/orders" class="tile">
    <div class="tile-header">
      <h3>Order History</h3>
      <i class="fas fa-history tile-icon"></i>
    </div>
  </a>
</div>
