html, body {
  height: 100%;
  margin: 0;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; // fills space between navbar and footer
  display: flex;
  flex-direction: column;
}
